.article_page {
  padding: 20px 250px;
  display: flex;
  flex-direction: column;
  z-index: 0;
}

.article {
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
  gap: 40px;
}

.article_page img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 1rem auto;
}

.loading {
  width: fit-content;
  position: relative;
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.date {
  color: var(--color-grey);
}

.article_content {
  line-height: 30px;
  font-weight: 300;
}

.article_content img {
  max-width: 100%;
  height: auto;
  display: block;
}

.article_content p {
  line-height: 1.6;
  margin-bottom: 1rem;
}

.article_content h1,
.article_content h2,
.article_content h3 {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.comments {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.comments form {
  display: flex;
  align-items: end;
  height: 100%;
  width: 100%;
  gap: 10px;
  margin-bottom: 50px;
  height: fit-content;
}

.comments form button {
  width: fit-content;
  border-radius: 3px;
}

.comments form button:hover {
  filter: brightness(0.9);
}

.comment_area,
.update_comment_area {
  outline: none;
  border: 1px solid var(--color-black);
  padding: 0 10px;
  width: 100%;
  max-width: 700px;
  border-radius: 3px;
}

.update_comment_area {
  height: fit-content;
}

.comment_card .infos {
  display: flex;
  align-items: center;
  gap: 30px;
  width: 100%;
  margin-bottom: 10px;
}

.infos img {
  width: 30px;
  min-width: 30px;
  height: 30px;
  border-radius: 50%;
}

.infos div {
  display: flex;
  align-items: center;
  gap: 5px;
}

.comment_card .date {
  font-size: 16px;
}

.comment_card .content {
  font-size: 16px;
  margin-left: 35px;
}
.infos .author {
  font-weight: 300;
}

.crud_btns {
  display: flex;
  align-items: center;
  justify-self: flex-end;
  transform: translateX(200%);
}

.crud_btns button {
  transition: transform 0.3s;
  background-color: var(--color-black);
}

.crud_btns button:hover {
  transform: scale(1.1);
}

.crud_btns svg {
  color: var(--color-purple);
  width: 15px;
  min-width: 15px;
  height: 15px;
}

.replies {
  font-size: 1.2rem;
  font-weight: 300;
}

.comment_list {
  display: grid;
  grid-template-columns: 10px 1fr;
  transform: translateX(30px);
}

.comment_hr {
  background-color: rgb(0, 0, 0, 0.2);
  width: 1px;
  height: 100%;
}

.comment_hr + div {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.publish_btn:hover,
.unpublish_btn:hover {
  background-color: var(--color-purple);
  color: var(--color-black);
}

.delete_btn {
  background-color: var(--color-red);
  color: var(--color-white);
}

.delete_btn:hover {
  color: var(--color-red);
  background-color: var(--color-white);
}

.edit_link {
  background-color: var(--color-purple);
  color: var(--color-black);
  padding: 8px 8px;
  margin: 0 5px;
  border-radius: 5px;
}

.edit_link:hover {
  background-color: var(--color-grey);
  color: var(--color-white);
}

.delete_btn,
.edit_link,
.publish_btn,
.unpublish_btn {
  box-shadow: var(--shadow-on-white);
}

/* responsive */
@media (max-width: 700px) {
  .article_page {
    padding: 10px 20px;
    gap: 10px;
  }

  .article {
    margin-bottom: 40px;
    gap: 20px;
  }

  .comment_hr + div {
    gap: 20px;
  }

  .date {
    font-size: 12px;
  }

  .comment_list {
    transform: translateX(10px);
  }

  .crud_btns {
    transform: translateX(0);
  }

  .comment_card .infos {
    gap: 10px;
  }
}

@media (min-width: 701px) and (max-width: 1050px) {
  .article_page {
    padding: 10px 60px;
    gap: 30px;
  }

  .article {
    margin-bottom: 50px;
    gap: 30px;
  }
}
