/* CSS Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

/* variables */
:root {
  --text-font-family: 'Lexend';
  --title-font-family: 'Outfit';

  --mobile-text-size: 16px;
  --tab-text-size: 17px;
  --laptop-text-size: 18px;

  --mobile-title-size: 18px;
  --tab-title-size: 20px;
  --laptop-title-size: 1.7rem;

  --color-white: #fff;
  --color-purple: #bdbbff;
  --color-black: #2b2828;
  --color-grey: #808080;
  --color-red: #bf225a;
  --bkg-color: #f5f5f5;
  --highlight-color: #bf225a;
  --error-color: #bf225a;
  --input-bkg-color: #fafafa;
  --input-border-color: #f1f1f2;

  --shadow-on-white: rgba(0, 0, 0, 0.3) 0px 2px 4px 0px;
}

body {
  font-family: var(--text-font-family);
  color: var(--color-black);
  font-size: var(--laptop-text-size);
}

a {
  color: inherit;
  text-decoration: none;
}

.blog-button {
  width: fit-content;
  height: fit-content;
  padding: 6px 8px;
  border-radius: 5px;
  background-color: var(--color-black);
  color: var(--color-purple);
  border: none;
  cursor: pointer;
}

.labeled-input {
  display: flex;
  flex-direction: column;
}

.labeled-input input {
  height: 40px;
  background-color: var(--input-bkg-color);
  outline: none;
  border: 1px solid var(--input-border-color);
  border-radius: 4px;
  padding: 0 10px;
}

.labeled-input input:focus {
  border-color: var(--color-purple);
}

.input-error {
  color: var(--error-color);
  font-size: 16px;
}

@media (max-width: 700px) {
  body {
    font-size: var(--mobile-text-size);
  }

  .labeled-input input {
    height: 30px;
  }
}

@media (min-width: 701px) and (max-width: 1050px) {
  .header {
    padding: 0 20px;
  }

  body {
    font-size: var(--tab-text-size);
  }
}
