.error_page {
  background-color: #2b2828;
  color: #fff;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.error_page p + p {
  margin-top: 20px;
}
.error_page a {
  margin-top: 20px;
  color: var(--color-black);
  padding: 5px 50px;
  border-radius: 5px;
  font-size: 20px;
  background-color: #cdcbff;
}

.error_page a:hover {
  text-decoration: underline;
}

.error_page h1 {
  text-align: center;
}

@media (max-width: 700px) {
  .error_page h1 {
    font-size: 20px;
  }
}
