.layout {
  display: grid;
  grid-template-rows: 70px 1fr 300px;
}

.main {
  display: block;
}

.menu {
  background-color: var(--color-black);
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: calc(100vh - 50px);
  font-weight: 300;
  transform-origin: top right;
  font-size: 1.1rem;
  padding: 80px 40px 0 40px;
  gap: 10px;
}

.menu button {
  background: none;
  width: fit-content;
  padding: 0;
}

.menu a {
  display: flex;
  align-items: center;
  gap: 5px;
}

.menu_avatar {
  display: flex;
  align-items: center;
  gap: 5px;
  position: absolute;
  left: 10px;
  top: 10px;
  font-weight: 600;
}

.menu_avatar img {
  width: 35px;
  height: 35px;
  border: 3px solid var(--color-white);
  border-radius: 50%;
}

.hide_menu {
  display: none;
}

.show_menu {
  display: flex;
  animation: show-menu 0.15s ease-out;
  animation-fill-mode: forwards;
}

.avatar {
  display: flex;
  align-items: center;
  gap: 3px;
}

.avatar p {
  font-size: 1rem;
  color: inherit;
}
.avatar img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

@keyframes show-menu {
  from {
    transform: scaleX(0) scaleY(0);
  }
  to {
    transform: scaleX(1) scaleY(1);
  }
}

@media (max-width: 700px) {
  .layout {
    grid-template-rows: 50px 1fr 300px;
  }
}
