.archive {
  padding: 20px 250px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.archive h1 {
  margin-bottom: 100px;
  font-family: var(--title-font-family);
  font-weight: 700;
}

.archive_card {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.archive_card h2 {
  font-size: 24px;
  display: flex;
  align-items: center;
  gap: 5px;
  font-family: var(--title-font-family);
}

.archive_card h2:hover {
  color: var(--color-red);
}

.loading {
  width: fit-content;
  position: relative;
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.date {
  color: var(--color-grey);
}

/* responsive */
@media (max-width: 700px) {
  .archive {
    padding: 10px 20px;
    gap: 10px;
  }

  .archive_card {
    font-size: 16px;
  }

  .archive h1 {
    margin-bottom: 20px;
    font-size: 1.5rem;
  }
}

@media (min-width: 701px) and (max-width: 1050px) {
  .archive {
    padding: 10px 80px;
    gap: 30px;
  }

  .archive_card {
    font-size: 18px;
  }

  .archive h1 {
    margin-bottom: 30px;
    font-size: 1.5rem;
  }
}
