.homepage_content {
  padding: 20px 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.loading {
  width: fit-content;
  position: relative;
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.post_card h1 {
  font-size: var(--laptop-title-size);
  font-family: var(--title-font-family);
  margin-bottom: 5px;
}

.post_card .snippet {
  color: var(--color-grey);
  font-size: var(--laptop-text-size);
  letter-spacing: 1px;
  line-height: 30px;
}

.post_card:first-child {
  margin-top: 50px;
}

.post_card div {
  height: 20px;
  width: fit-content;
  display: inline-block;
}

.more_link {
  display: inline;
  font-size: 14px;
  color: var(--color-black);
}

.post_card a:hover {
  color: var(--color-red);
}

.post_card .date {
  margin-top: 10px;
  color: var(--color-grey);
  font-size: 15px;
}

/* responsive */
@media (max-width: 700px) {
  .homepage_content {
    padding: 20px;
    gap: 30px;
  }

  .post_card:first-child {
    margin-top: 20px;
  }

  .post_card h1 {
    font-size: var(--mobile-title-size);
  }
}

@media (min-width: 701px) and (max-width: 1050px) {
  .homepage_content {
    padding: 0 30px;
  }

  .post_card:first-child {
    margin-top: 30px;
  }

  .post_card h1 {
    font-size: var(--tab-title-size);
  }
}
