.home_link {
  display: flex;
  align-items: center;
  font-size: 2rem;
  font-weight: 900;
  color: var(--color-red);
  position: absolute;
  top: 10px;
  left: 20px;
}

.home_link svg {
  stroke-width: 3px;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bkg-color);
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.login_form {
  background-color: var(--color-white);
  width: 400px;
  margin: 10px 0;
  border-radius: 8px;
  display: grid;
  grid-template-rows: 1fr 2fr;
  height: fit-content;
}

.login_form form {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.formHead {
  padding: 10px 20px;
}

.formHead > h1 {
  width: 100%;
}

.formHead div {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formHead > div p:last-child {
  color: gray;
  margin-top: 20px;
}

.formHead p a {
  color: var(--color-red);
  font-weight: 600;
  text-decoration: none;
}
.formHead p a:hover {
  text-decoration: underline;
}

.login_form section {
  display: flex;
  flex-direction: column;
}

.submit_btn {
  background-color: var(--color-red);
  color: var(--color-white);
  border: none;
  padding: 8px 0;
  width: 100%;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}

.submit_btn:hover {
  filter: brightness(0.9);
}

section.password {
  position: relative;
}

.toggle_pwd_view {
  background: none;
  border: none;
  width: fit-content;
  position: absolute;
  padding: 0;
  right: 10px;
  top: 32px;
  color: var(--color-red);
}

@media (max-width: 700px) {
  .home_link {
    font-size: 1.5rem;
    font-weight: 700;
  }
  .login_form {
    width: 90%;
  }

  .toggle_pwd_view {
    top: 25px;
  }
}

@media (min-width: 701px) and (max-width: 1000px) {
  .login_form {
    width: 80vw;
  }
}
